.main{
    background: pink;
    border: 15px;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    
}

header{
    background-color: rgb(150, 149, 153);
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}
header p{
    padding: 0.5em;
    font-size: 20px;

}

.caixaTopo{
    padding: 1em;
    align-content: space-around;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
}
.button{
    flex-direction: row;
    align-items: flex-end;
}
.messages_sent{
    width: 100%;
    height:100%;
    padding-bottom:0.3em;
}
.caixaInferior{
    padding: 2em;
    padding-bottom: 2em;
    width: 80%;
    height: 40%;
    display: inline-flex;
    align-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    background-color: rgb(150, 149, 153);
}

.input_messages{
    width: 70%;
    height: 100%;
}